body {
    background-color: aliceblue;
}

.line {
    fill: none;
    stroke: #ffab99;
    stroke-width: 3;
}

#neighborhoodPopover {
  position: absolute;
  text-align: center;
  padding: 2px;
  font: 12px sans-serif;
  background: #fff;
  border: 0px;
  border-radius: 8px;
  pointer-events: none;
  opacity: 0;
}
#map {
    height: 420px;
    width: 100%;
    border-radius: 4px;
    z-index: 0
}

.axis path, .axis tick, .axis line {
    fill: none;
    stroke: #000;
}

#agg-data-title {
    font-size: 0.7rem;
}

.axis.x text {
    transform: rotate(-45deg)translate(-18px, 10px);
}

.row {
    margin: 0.8rem 0 !important;
}

.custom-shadow {
    box-shadow: 0 0.5rem 0.5rem rgba(0, 0, 0, 0.15) !important;
    border-radius: 5px;
    background-color: white;
}